@import "variables";

:root {
  font-family: var(--font-family-main);
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--font-size-m);
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
}

.navbar {
  position: fixed;
  background-color: var(--background-color);
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 1px solid rgb(200, 200, 200);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navbar-logo {
  height: var(--navbar-height);
}

.navbar-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-counter span {
  display: block;
  color: var(--secondary-color);
}

.root-element {
  position: absolute;
  z-index: 2;
  top: var(--navbar-height);
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-wrapper {
  min-width: 360px;
  display: flex;
  justify-content: center;
}

.posts-block {
  display: flex;
  flex-direction: column;
}

.post-item {
  background-color: var(--main-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-item__content-title {
  display: flex;
  justify-content: left;
}

.post-item__id {
  margin-right: 5px;
}

.post-item__title {
  color: var(--secondary-color);
}

.post-item__body {
  display: block;
}

.post-item__ux {
  display: flex;
  justify-content: right;
}

.custom-button {
  font-family: var(--font-family-secondary);
  line-height: 1.25vw;
  border: 2px solid var(--border-color);
  width: 30%;
  text-align: center;
  margin: 5px;
  padding: 5px;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.post-page {
  background-color: var(--main-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  max-height: 60vh;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-page__content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.post-page__content-header {
  width: 100%;
}

.post-page__content-header span {
  width: 100%;
  color: var(--secondary-color);
  font-size: var(--font-size-l);
  text-align: center;
}

.error {
  width: 100%;
  color: var(--text-color-err);
}
